.hero-title{
    text-size-adjust: uppercase;
    color: white;
}

.buton{
    align-items: center;
    border-radius: 15px;
    font-family: rajdhani;
    font-size: 25px;
    display: flex;
    color: rgb(251, 252, 252);
    height: 50px;
    text-decoration: none;
    text-align: center;
    border-bottom: #a8a8a8a4 1px solid;
    background: linear-gradient(80deg, #003bb1, #b11313);
}