.superman-image {
  background-image: url(../assets/images/img19.png);
  height: 800px;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.158);
  background-size: cover;
  background-repeat: no-repeat;
}

.superman-image::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2;
}

div {
  border: rgba(255, 255, 255, 0) 1px solid;
}

.formulaire {
  backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  max-width: 60%;
  border-radius: 15px;
  margin-top: 200px;

}

.form {
  background-color: rgba(122, 122, 122, 0.848);
  padding: 15px;
  border-radius: 15px;
}

.valider {
  border: none;
  border-radius: 15px;
  font-family: rajdhani;
  font-size: 25px;
  color: rgb(251, 252, 252);
  height: 50px;
  text-decoration: none;
  display: flex;
  justify-content: center; /* Centre le contenu horizontalement */
  align-items: center; /* Centre le contenu verticalement */
  border-bottom: #a8a8a8a4 1px solid;
  background: linear-gradient(80deg, #003bb1, #b11313);
  width: 400px;
}


.sociale{
  display: flex;
}